<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head characters must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>

    <title>Spring Boot Banner Generator</title>

    <link href="bootstrap.min.css" rel="stylesheet"/>
    <link href="jumbotron-narrow.css" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/banner" th:href="@{/banner}">Generate</a></li>
                <li role="presentation"><a href="/about" th:href="@{/about}">About</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Spring Boot Banner Generator</h3>
    </div>

    <div class="jumbotron">
        <h1>Banner Generator</h1>

        <p class="lead">Use any image to generate a banner for your Spring Boot application.</p>

        <p><a class="btn btn-lg btn-success" href="/banner" role="button">Try it out!</a></p>
    </div>

    <footer class="footer">
        <p>&copy; 2016 <a href="mailto:dhubau@gmail.com">Dieter Hubau</a> - Source available on <a href="https://github.com/Turbots/spring-boot-banner-gen">Github</a></p>
    </footer>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-71328567-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
